body {
    background-image: url(bg2.png);
    background-position: center;
    background-size: cover;
    color: white;

}


.login_div1 {
    background: rgba(1, 129, 108, 0.561);
    padding: 10px;
    float: right;
    width: 40%;
    height: 50%;
    margin-top: 15%;
    border-radius: 15px;
}

h3 {
    font-size: 35px;
}

#player1_name,
#player2_name {
    display: inline-block;
    margin-left: 20px;
}

#word {
    width: 60%;
}

#word_display {
    letter-spacing: 5px;
}

#output {
    background: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}

#player_1_name,
#player_2_name {
    display: inline;
}

.h3 {
    float: right;
}

.q {
    float: right;
}

#sb {
    position: absolute;
    top: 10px;
    left: 40px;
    z-index: 5;
}

h2 {
    font-size: 50px;
    top: 200px;
}

#Number1{
    width:70%;
}
#Number2{
    width:70%;
}
#margin{
    position: absolute;
    bottom: 10px;
    right:600px;
}